.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}


.isDone {
  text-decoration: line-through;
}

.notIsDone {
  font-weight: bold;
}
.activeFilter {
  color: white;
  font-weight: bold;
  background-color: hotpink;
  border: 2px solid hotpink;
  border-radius: 3px;
  outline-color: hotpink;
}

.inputError {
  border: 3px solid hotpink;
  outline-color: hotpink;
}